@import 'highlight.js/styles/github.css';
@import './app/shared/styles/_variables.scss';
@import './app/shared/styles/_card.scss';
@import './app/shared/styles/_layout.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
  padding: calc(var(--spacing-unit) * 0.5) var(--spacing-unit);
}

.nav-link:hover {
  background: rgba(63, 81, 181, 0.1);
  border-radius: 4px;
}

.active-link {
  font-weight: bold;
  background: rgba(63, 81, 181, 0.1);
  border-radius: 4px;
}